*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}
a.logo{
  left: 0;
  top: -4px;
  width: 50px;
  height: 54px;
  padding: 3% 10%;
  text-align: left;
  background-repeat: no-repeat;
  background-image: url(../img/logo-white.png);
  position: absolute;
  background-position: 30% 50%;
  background-size: 4rem;
}
nav .nav-background{
  right: 0;
  position: absolute;
  padding-right: 30px;
  padding-top: 3%;
}
header{
  width: 100%;
  /*height: 1100px;*/
  line-height: 0;
  position: relative;
}
.video-fondo{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  top: 0;
}
nav {
  position: fixed;
  top : 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 114px;
  z-index: 1000;
  margin-top: 0;
  padding-top: 0px;
  transition: all 0.65 cubic-bezier(0.7, 0.01, 0.3, 1);
  border-bottom: solid 1px  #616161;

}
nav ul li{
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
nav ul li a {
  color:#fff;
  width: 100%;
  display: block;
  margin-left: 30px;
  text-decoration:none;
  font-size: 1.2rem;
  font-weight: 300;
}
nav ul li .explore{
  font-weight:lighter !important;
  margin-left: 10px;
}
nav ul li a:hover{
  color:#FF00BF;
}
nav input[type = "button"]{
  color: #fff;
  background:none;
  width: 90px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #fff ;
  font-size: 1.2rem;
  font-weight: 300;
}
nav .nav-background ul .sign-up{
  visibility: hidden;
  color:#FF00BF;
  border: solid 1px #FF00BF ;
}
nav .nav-background ul .login-in:hover{
  background-color: #728099;
}
nav:hover .nav-background ul .sign-up{
  visibility: visible;
}
/*body*/
.content{
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333447;
}
.info{
  color: #f3f3f5;
  height: 600px;
  padding-left: 10%;
  background: -webkit-linear-gradient(#76278f,#2B1E66);
  background: -moz-linear-gradient(#76278f,#2B1E66);
  background: linear-gradient(#76278f,#2B1E66);
}
.info h1,p{
  margin: 15px;
  line-height: 30px;
}
.info h1{
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 500;
}
.info p{
  font-weight: 300;
}
.info-left{
  padding-top: 70px;
  width: 40%;
}
.info-right{
  position: absolute;
  width: 50%;
  padding-right: 200px;
}
.content1{
  text-align: justify;
  box-sizing: content-box;
  width: 70%;
  height: 500px;
  line-height: 25px;
  display: inline-block;
  position: absolute;
}
.content1 iframe{
  position: relative;
  right: 0;
  width:100%;
}
.content2{
  display: inline-block;
  text-align: justify;
  box-sizing: border-box;
  padding: 7% 3%;
  width: 30%;
  height: 500px;
  margin-left: 0;
  line-height: 25px;

}
.content2 h4{
  margin-bottom: 10px;
  font-weight: normal;
}
.content2 h1{
  font-size: 1.8rem;
  font-weight:700;
}
.content2 p{
  font-weight: 300;
}
.div-left{
  float: left;
  position: relative;
}
.div-right{
  float: right;
  position: relative;
}
footer{
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #333447
}
footer div{
  margin: 20px 70px;
  line-height: 30px;
  width: 40%;
}
footer ul, li ,a ,span{
  color:#f3f3f5;
  text-decoration: none;
  list-style: none;
}
footer ul li a:hover{
  color:#FF00BF;
  text-decoration: underline;
}
footer ul:hover{
  color:#FF00BF;
}
footer img{
  width: 140px;
  height: 42px  ;
}
footer hr{
  margin-left: 25%;
}
footer .redes-sociales{
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  /*display: inline-block;*/
  /*right:  3%;*/

  text-align: center;
}
.twitter , .facebook , .Instagram{
  position: relative;
  color: white;
  background-color: #333447;
  border: solid white 1px ;
  border-radius: 60%;
  margin: 14px;
  display: block;
}
